<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>87117063470-r3j67npht22k4sg588me9n82k8gpi4qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87117063470-r3j67npht22k4sg588me9n82k8gpi4qf</string>
	<key>API_KEY</key>
	<string>AIzaSyDcY8c-cT0txqknDeQic64-2ESRChVQJ64</string>
	<key>GCM_SENDER_ID</key>
	<string>87117063470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akaisani.Uber</string>
	<key>PROJECT_ID</key>
	<string>uber-8fbec</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-8fbec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:87117063470:ios:d87e739c52b5704e</string>
	<key>DATABASE_URL</key>
	<string>https://uber-8fbec.firebaseio.com</string>
</dict>
</plist>